<div
  class="flex h-screen w-screen flex-col items-center justify-center bg-gray-200 dark:bg-gray-800"
>
  <div class="text-5xl text-gray-600 dark:text-gray-200">关灯游戏</div>
  <div
    class="mt-5 flex flex-col items-center justify-center rounded-md text-xl"
  >
    <div
      class="rounded-md bg-green-200 p-5 text-gray-800 dark:bg-green-800 dark:text-gray-200"
    >
      <div>1️⃣ 点击格子，开启/关闭💡</div>
      <div>2️⃣ 点击格子时，相邻格子的灯也会一起切换</div>
      <div>3️⃣ 目标是用最少的步数关闭棋盘上所有的💡</div>
    </div>
  </div>
  <div
    class="mt-5 flex h-fit w-fit flex-col items-center justify-center rounded-lg border-2 border-solid border-gray-400 py-10 px-32"
  >
    <div
      class="mb-10 flex w-full items-center justify-center text-gray-600 dark:text-gray-300"
    >
      <span class="text-xl">棋盘尺寸：</span>
      <select
        [(ngModel)]="size"
        (change)="changeSize()"
        class="focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-20 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
      >
        <option [ngValue]="3">3*3</option>
        <option [ngValue]="5">5*5</option>
        <option [ngValue]="7">7*7</option>
      </select>
    </div>
    @for (cs of board(); track $index; let row = $index) {
      <div class="flex w-full items-center justify-center">
        @for (c of cs; track $index; let col = $index) {
          <div
            class="m-1 transform cursor-pointer select-none border-2 border-solid border-white shadow-lg transition-all duration-500 ease-in-out hover:scale-105 hover:shadow-2xl"
            [ngClass]="{
              'bg-gray-600 dark:bg-gray-500': c == 0,
              'bg-yellow-400 dark:bg-orange-400': c == 1,
              'h-28 w-28': size == 3,
              'h-20 w-20': size == 5,
              'h-16 w-16': size == 7,
            }"
            (click)="toggleLight(row, col)"
          >
            <span
              *ngIf="c == 1"
              class="flex h-full w-full items-center justify-center text-5xl"
              >💡</span
            >
          </div>
        }
      </div>
    }
    <div
      class="mt-5 flex items-center justify-center text-xl text-gray-800 dark:text-gray-200"
    >
      已操作步数： {{ steps }}
    </div>
    <div
      class="my-5 flex items-center justify-center text-xl text-gray-800 dark:text-gray-200"
    >
      @if (finished()) {
        恭喜你，你已经成功关闭了所有的💡！
      } @else {
        当前还需要关闭的💡： {{ count() }}
      }
    </div>
    <div
      class="mt-5 flex items-center justify-center text-xl text-gray-800 dark:text-gray-200"
    >
      <button
        (click)="restart()"
        class="rounded-md border border-solid bg-blue-400 p-2 text-gray-800 hover:bg-blue-500 dark:bg-blue-600 dark:text-gray-300 hover:dark:bg-blue-500"
      >
        重新开始
      </button>
    </div>
  </div>
</div>

@if (showModal) {
  <app-scatter-flowers></app-scatter-flowers>
}
